body {
    font: normal 12px Arial;
}

#descriptionDiv {
    margin: 8px 2px;
}

#advancedConfigDiv {
    float: right;
    margin-top: 10px;
}

#advancedConfigDiv table #advancedConfigTd {
    text-align: right;
}

#inputsDiv table th {
    text-align: left;
}

#inputsDiv table td select {
    width: 100%;
}


#inputsDiv table #securityTd {
    text-align: center;
}

#inputsDiv #advancedInputsTable {
    display: none;
}

#inputsDiv #advancedInputsTable #legacyTd {
    text-align: center;
}

#submitButton {
    margin-top: 8px;
    width: 150px;
    background-color: #3c8cdc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    user-select: none;
}
  
#submitButton:hover {
    background-color: #8dacea;
    text-decoration: none;
    transition-duration: 0.1s;
}

#testResultsLinksDiv {
    width: 100%;
    height: 30vh;
    display: none;
}

#pluginButtonsTd button {
    margin-top: 8px;
    background-color: #3c8cdc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    user-select: none;
}
  
#pluginLinkButton:hover {
    background-color: #8dacea;
    text-decoration: none;
    transition-duration: 0.1s;
}

#screenshotHelper code {
    font-size: 0.75em;
    background-color: lightgray;
}

#pluginLinksDiv {
    padding: 10px;
    display: none;
    width: 850px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -375px;
    margin-top: -275px;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 3px 0 inset;
    border: 2px solid rgba(27, 31, 35, 0.15);
}

#pluginLinksDiv button {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    color: gray;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 14px;
    user-select: none;
}

#pluginLinksDiv #pluginName {
    text-align: center;
    margin-top: 50px;
}

#pluginLinksDiv #pluginLinksList {
    margin-top: 8px;
}

#testResultsDiv {
    display: none;
    margin-top: 8px;
}

#testResults {
    width: 100%;
    height: 52vh;
}

.topNav {
    background-color: #333;
    overflow: hidden;
}

.topNav img {
    float: left;
    height: 28px;
    width: auto;
    padding: 12px 6px;
}
.topNav span {
    float: left;
    color: white;
    padding: 16px 8px;
    font-size: 1rem;
    cursor: default;
}

.topNav a {
    float: right;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: underline;
    font-size: 1rem;
}

.topNav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topNav a.active {
    background-color: blue;
    color: white;
}

