name: Index Management Release tests workflow in Bundled OpenSearch Dashboards
on:
  pull_request:
    branches:
      - main
      - dev-*
jobs:
  tests:
    uses: ./.github/workflows/release-e2e-workflow-template.yml
    with:
      test-name: Index Management
      test-command: yarn cypress:run-with-security --browser chromium --spec 'cypress/integration/plugins/index-management-dashboards-plugin/*'