name: ML Commons Release tests workflow in Bundled OpenSearch Dashboards
on:
  pull_request:
    branches: ['**']
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      tests: ${{ steps.filter.outputs.tests }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            tests:
              - 'cypress/**/ml-commons-dashboards/**'

  tests:
    needs: changes
    if: ${{ needs.changes.outputs.tests == 'true' }}
    uses: ./.github/workflows/release-e2e-workflow-template.yml
    with:
      test-name: ML Commons
      test-command: env CYPRESS_ML_COMMONS_DASHBOARDS_ENABLED=true yarn cypress:run-with-security --browser chromium --spec 'cypress/e2e/plugins/ml-commons-dashboards/*'
      osd-serve-args: --ml_commons_dashboards.enabled=true
