name: Release tests workflow in Bundled OpenSearch Dashboards (Windows)
on:
  workflow_call:
    inputs:
      test-name:
        required: true
        type: string
      test-command:
        required: true
        type: string
jobs:
  tests:
    name: Run Cypress E2E tests for ${{ inputs.test-name }}
    runs-on: windows-latest
    env:
      # prevents extra Cypress installation progress messages
      CI: 1
      # avoid warnings like "tput: No value for $TERM and no -T specified"
      TERM: xterm
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 14
      - name: Checkout cypress-test
        uses: actions/checkout@v2
        with:
          repository: ${{github.repository}}
          path: cypress-test
      - name: Get package version
        working-directory: cypress-test
        run: |
          echo "VERSION=$(yarn --silent pkg-version)" >> $GITHUB_ENV
          echo "PLATFORM=windows" >> $GITHUB_ENV
        shell: bash
      - name: Get and run OpenSearch
        run: |
          curl -SLO https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/${{ env.VERSION }}/latest/${{ env.PLATFORM }}/x64/zip/dist/opensearch/opensearch-${{ env.VERSION }}-${{ env.PLATFORM }}-x64.zip
          unzip -q opensearch-${{ env.VERSION }}-windows-x64.zip
          cd opensearch-${{ env.VERSION }}/
          nohup ./opensearch-windows-install.bat &
          timeout 900 bash -c 'while [[ "$(curl -o /dev/null -w ''%{http_code}'' -u admin:admin -k https://localhost:9200)" != "200" ]]; do echo sleeping 5; sleep 5; done'
          curl -sk https://localhost:9200/_cluster/health?pretty -u admin:admin
          netstat -anP tcp | grep LISTEN | grep 9200 || netstat -ntlp | grep 9200
        shell: bash
      - name: Get and run OpenSearch-Dashboards
        run: |
          curl -SLO https://ci.opensearch.org/ci/dbc/distribution-build-opensearch-dashboards/${{ env.VERSION }}/latest/${{ env.PLATFORM }}/x64/zip/dist/opensearch-dashboards/opensearch-dashboards-${{ env.VERSION }}-${{ env.PLATFORM }}-x64.zip
          unzip -q opensearch-dashboards-${{ env.VERSION }}-windows-x64.zip
        shell: bash
      - name: Get node and yarn versions
        run: |
          echo "node_version=$(jq -r '.engines.node' ./opensearch-dashboards-${{ env.VERSION }}/package.json)" >> $GITHUB_ENV
        shell: bash
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.node_version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Run OpenSearch-Dashboards server
        run: |
          netstat -anP tcp | grep LISTEN | grep 9200 || netstat -ntlp | grep 9200
          cd opensearch-dashboards-${{ env.VERSION }}
          # Temporary solution to add vis_builder and data_source enabled parameters
          echo "vis_builder.enabled: true" >> config/opensearch_dashboards.yml
          echo "data_source.enabled: true" >> config/opensearch_dashboards.yml
          # Not useful now as error shows when trying to force a background run with parameters on Windows
          bin/opensearch-dashboards.bat serve ${{ inputs.osd-serve-args }} &
          bin/opensearch-dashboards.bat &
          timeout 300 bash -c 'while [[ "$(curl http://localhost:5601/api/status -u admin:admin | jq -r '.status.overall.state')" != "green" ]]; do echo sleeping 5; sleep 5; done'
          curl -sk localhost:5601/api/status -u admin:admin | jq
          netstat -anP tcp | grep LISTEN | grep 5601 || netstat -ntlp | grep 5601
        shell: bash
      - name: Get Cypress version
        run: |
          cd ./cypress-test
          npm install
        shell: bash
      - name: Cypress tests
        uses: cypress-io/github-action@v2
        with:
          working-directory: cypress-test
          command: ${{ inputs.test-command }}
          wait-on: 'http://localhost:5601'
      # Screenshots are only captured on failure, will change this once we do visual regression tests
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress-test/cypress/screenshots
      # Test run video was always captured, so this action uses "always()" condition
      - uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cypress-videos
          path: cypress-test/cypress/videos
      # Test reports was always captured, so this action uses "always()" condition
      - uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cypress-results
          path: cypress-test/cypress/results
