name: Security Analytics Release tests workflow in Bundled OpenSearch Dashboards
on:
  pull_request:
    branches:
      - main
      - dev-*
      - 2.x
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      tests: ${{ steps.filter.outputs.tests }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            tests:
              - 'cypress/**/security-analytics-dashboards-plugin/**'

  tests:
    needs: changes
    if: ${{ needs.changes.outputs.tests == 'true' }}
    uses: ./.github/workflows/release-e2e-workflow-template.yml
    with:
      test-name: Security Analytics
      test-command: yarn cypress:run-with-security --browser chromium --spec 'cypress/e2e/plugins/security-analytics-dashboards-plugin/*'
